.lead__image {
    background-image: url("../../../images/train.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 16 / 10;
}